
.mb-10{
	margin-bottom:10px
}

.marketitem {
	overflow:hidden;
	float:left;
}

.incoming {
	color:green;
}

.outgoing {
	color:red;
}

.listingbox {
    background: lightgrey;
    border-radius: 1rem;
    padding: 1.2rem;
    margin-bottom: 0.75rem;
    border: 1px solid black;
}

.itembox {
    background: lightgrey;
    border-radius: 1rem;
    padding: 5px 5px 5px 0px;
    margin: 5px 5px 5px 0px;
    border: 0.2px solid black;
}

.smallbutton {
	margin-bottom: 0.5rem;
	text-decoration:none !important;
}

.btn-hitlift {
	min-width: 5.5rem;
	padding: 4px;
}

/*.tinyfont {
	font-size:12px;
}*/


/*.bodymain {
	background-image: url("ih5.jpg");
	background-size: cover;	
}*/